body{
  font-size: 13px;
}
section{
  margin-top: 35px;
}
a, a:hover {
  color: inherit;
  text-decoration: underline;
}

#resume{
  padding-top: 20px;
}

#avatar{
  display: inline-block;
  content: ' ';
  background-size: 250px;
  height: 238px;
  width: 250px;
  background-image: url('../img/avatar.png');
}

#title{
  text-align: center;
  line-height: 80%;
}

#position {
    text-align: center;
    text-transform: uppercase;
    position: relative;
}
#position:before {
    border-top: 1px solid #dfdfdf;
    content:"";
    margin: 0 auto;
    position: absolute;
    top: 50%; left: 0; right: 0; bottom: 0;
    width: 90%;
    z-index: -1;
}
#position span {
    background: #fff;
    padding: 0 15px;
}
#about{
  text-align: center;
  padding: 20px 30px 0 30px;
}

.item-contact{
    padding: 15px 140px;
    text-align: right;
}

.section-title{
    color: #2ea0e4!important;
    padding-left: 41px;
}
.section-title:before{
    position: absolute;
    content: " ";
    background-color: #2ea0e4!important;
    border:solid 1px #fff;
    margin-top: 7px;
    margin-left: -45.5px;
    width: 11px;
    height: 11px;
    border-radius: 100%;
}

.hobbies-title{
    color: #2ea0e4!important;
}

.sections{
  margin-top: -20px;
  padding-top: 15px;
  border-left:2px solid #2ea0e4;
}

.section{
    padding: 10px 0 10px 38px;
}

.subtitle:before {
    position: absolute;
    content: " ";
    background-color: #2ea0e4!important;
    border:solid 1px #fff;
    margin-top: 6px;
    margin-left: -43px;
    width: 8px;
    height: 8px;
    border-radius: 100%;
}

.description ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    line-height: 1.4;
}

.hobbies{
    color: #212529;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    padding-bottom: 35px;
}

[v-cloak] { display: none; }

@media all and (min-width: 750px) {
  .item-contact div:after {
    display: inline-block;
    content: ' ';
    background-size: 15px;
    height: 15px;
    width: 15px;
    margin-bottom: -3px;
    margin-left: 8px;
  }

  .item-contact .adress:after{
      background-image: url('../img/adress.svg');
  }
  .item-contact .github:after{
      background-image: url('../img/github.svg');
  }
  .item-contact .mail:after{
      background-image: url('../img/mail.svg');
  }
}

@media all and (max-width: 750px) {
  .item-contact{
      text-align: left;
      padding: 15px 15px;
  }

  .item-contact div:before {
    display: inline-block;
    content: ' ';
    background-size: 15px;
    height: 15px;
    width: 15px;
    margin-bottom: -3px;
    margin-right: 8px;
  }

  .item-contact .adress:before{
      background-image: url('../img/adress.svg');
  }
  .item-contact .github:before{
      background-image: url('../img/github.svg');
  }
  .item-contact .mail:before{
      background-image: url('../img/mail.svg');
  }
}
